<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("partials/head") %>

<body>
        <!-- THE HEAD TAG PARTIAL -->
      <%- include("partials/header") %>

    <header>
        <h1>Reminder App</h1>
        <h1> Welcome! <%= username %></h2><br><br>
        <%- include('./nav.ejs') %>
    </header>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
</body>

</html>